<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address line1</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Province</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.user_id %></td>
        <td><%= address.address_line1 %></td>
        <td><%= address.city %></td>
        <td><%= address.postal_code %></td>
        <td><%= address.province %></td>
        <td><%= address.country %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
